build/
.vs/
.vscode/

# temporary
resources/bf.png
resources/bf.xml
resources/cuttinDeezeBalls.png
resources/cuttinDeezeBalls.xml
resources/WhittyCrazy.png
resources/WhittyCrazy.xml
resources/stage_light.png
resources/Inst.mp3
resources/spooky_dark.png
resources/spooky_dark.xml